<h2 id="suspend-vms">Virtual Machine Management Tips</h2>

<p> If you want to see what virtual machines are currently running, you can run:</p>
<div class="language-shell highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  virsh list  
</code></pre></div>    </div>
    
<p>If you have virtual machines using RAM and CPU, you can suspend all of them with:</p>

<div class="language-shell highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  sudo /sync/bin/suspend-all-vms.sh 
</code></pre></div>    </div>
